.stackItem--product {
  &--product-price-savings--badge {
    color: #fff;
    right: 0;
    left: initial;
    border-radius: 0 4px 4px 0;
  }
}

:global(.vtex-product-price-1-x-savings--product-price-savings--badge) {
  padding: 2px 5px 2px 3px;
  display: block;

  &::before {
    content: "";
    left: -11px;
    top: 0;
    content: "";
    position: absolute;
    z-index: 9;
    width: 0;
    height: 0;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
  }
}
