.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0.5rem;
}

@media screen and (min-width: 40em) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 80rem) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 15px;
  }
}

.flexRow--menu-link {
  max-height: 56px;
}

.flexRowContent--menu-link {
  color: #7c7c7c;
  background-color: inherit;
  max-width: 1550px;
  margin: 0 auto;
  padding: 3px 15px;
}

// .flexRowContent--main-header,
.flexRow--searchbar-mobile {
  background-color: #f0f0f0 !important;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: #f0f0f0;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #7c7c7c;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
}

.flexRow--deals {
  padding: 20px 15px;
  max-width: 1550px;
  margin: 0 auto;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexCol--switcherMobileCol {
  width: 20%;
}

/* Season Promotion Content */
.flexRow--product-description,
.flexRow--season-promotion--cards {
  background-color: #f2f2f2;
}

.flexRow--product-description {
  padding: 35px 0;

  :global(.vtex-store-components-3-x-container) {
    max-width: 1550px;
  }
}

.flexRowContent--season-promotion--cards {
  max-width: 1550px;
  margin: 0 auto;
  padding: 30px 15px;
}

.flexColChild--season-promotion--content-card {
  text-align: center;
}

@media only screen and (min-width: 640px) {
  .flexCol--season-promotion--content-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 25px;
  }
}

/* Novidades Home */
.flexRow--promotion--container {
  background: #333;
}

.flexRowContent--promotion-news-content {
  max-width: 1550px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header */
.flexRowContent--main-header {
  max-width: 1550px;
  margin: 0 auto;
}

.flexRow--main-header,
.flexRowContent--main-header {
  background: white;
}

.flexRow--main-header {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  box-shadow: none;
}

.flexRow--menu-link {
  background-color: #fff;
  z-index: -1;
  position: absolute;
  width: 100%;
}

.flexRow--page-divisor {
  background-color: #f2f2f2;
  height: 80px;
}

//
.flexRowContent--row-main {
  max-width: 1550px;
  margin: 0 auto;
  padding: 0 15px;
}

.flexRow--container {
  max-width: 1550px;
  margin: 0 auto 50px auto;
  padding: 0 15px;
}

.flexRow--container-imprensa {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1000px;
}

.flexCol--text-col {
  max-width: 325px;
}

.flexRow--row-main {
  background-image: url(/arquivos/bg-nutri.jpg);
  background-size: cover;
}

.flexRowContent--container-email {
  :first-child {
    width: auto !important;
    margin: 0;
  }

  :last-child {
    width: auto !important;
    margin: 0;
  }

  width: 100%;
}

.flexRow--row-all-frete {
  &:hover {
    background: #e0e0e0;
  }

  border-bottom: 1px solid #a09d9d;
}

.flexRow--row-bt {
  border-top: 1px solid #a09d9d;
}

@media screen and (min-width: 768px) {
  .flexRow--frete-weight {
    width: 75%;
    margin-left: 25%;
    display: flex !important;
  }
}

.flexRow--frete-weight {
  display: none;
}

.flexRowContent--mobile-df {
  display: flex;
  align-items: center;
}

.flexColChild--img-center,
.flexColChild--img-center:first-child {
  display: flex;
  justify-content: center;
}

.flexRowContent--tabela-contain {
  @media screen and (min-width: 1024px) {
    display: grid;
    grid-template-columns: 15% 100%;
    margin-top: -8px;
  }
}

.flexRowContent--tabela-contain {
  :first-child {
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.flexRow--secondary-table-container {
  margin-top: 60px;
}

.flexColChild--left-table-main {
  height: auto !important;
}

// Footer Logo

.flexRowContent--sally-title {
  /*@media screen and (max-width: 540px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }*/
  min-height: 77px;
}

// Payment Methods - footer
.flexRowContent--footer--payments-methods--content {
  @media screen and (max-width: 540px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

// vtex-flex-layout-0-x-flexRowContent

.flexCol--custom-payment-methods {
  background-image: url(/arquivos/paymentIcons-s1dcb2d2979.png);

  &--visa {
    background-position: 0 -70px;
    width: 33px !important;
    height: 25px;
  }

  &--mastercard {
    background-position: 0 -45px;
    width: 33px !important;
    height: 25px;
  }

  &--american {
    background-position: 0 -20px;
    width: 49px !important;
    height: 25px;
  }

  &--dinners {
    background-position: 0 -95px;
    width: 37px !important;
    height: 25px;
  }

  &--elo {
    background-position: -33px -70px;
    width: 25px !important;
    height: 25px;
  }

  &--boleto {
    background-position: -33px -45px;
    width: 36px !important;
    height: 25px;
  }
}

// Página missão e visão
.flexCol--container-missao-visao {
  :global(.vtex-rich-text-0-x-paragraph) {
    margin: 0;
  }

  :global(.vtex-rich-text-0-x-strong--title-mission) {
    padding-top: 20px;
    margin: 0;
    display: block;
  }
}

.flexCol--product-stack-info {
  :global(.vtex-product-specification-badges-0-x-groupContainer) {
    margin: 0;
  }
}

// Promociones
.flexRow--content-result--landing-promo {
  max-width: 1550px;
  margin: auto;
  padding: 20px 15px 50px;

  .flexRow--productCountCol {
    margin-left: 0 !important;
  }

  :global(.vtex-search-result-3-x-gallery) {
    margin: 0 !important;
    padding-left: 0px;
  }
}

// Nossas lojas
.flexRow--nossas-lojas--header {
  background-color: #56af31;

  :global(.vtex-rich-text-0-x-container--nossas-lojas--title) {
    justify-content: center;

    :global(.vtex-rich-text-0-x-paragraph),
    :global(.vtex-rich-text-0-x-headingLevel1) {
      color: #fff;
      font-weight: initial;
      font-size: 24px;
      text-align: center;
    }

    :global(.vtex-rich-text-0-x-paragraph) {
      font-size: 12px;
      font-weight: bold;
    }
  }
}

.flexRowContent--contentdiscover {
  padding: 0 15px;
}

/* promociones */
:global(.vtex-stack-layout-0-x-stackItem--promociones) {
  width: 100%;
  height: 100%;
}
:global(.vtex-flex-layout-0-x-flexRow--promociones),
:global(.vtex-flex-layout-0-x-flexRowContent--promociones) {
  width: 100%;
  height: 100%;
  position: relative;
}
:global(.vtex-flex-layout-0-x-flexCol--promo-3x2) {
  position: absolute;
  top: 0;
  left: 6px;
  width: 66px !important;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-image: url("assets/promos/promo_3x2.png");
  @media screen and (max-width:768px){
    width: 44px!important;
    height: 40px;
    background-size: 44px 40px;
  }
}
:global(.vtex-flex-layout-0-x-flexCol--promo-2x1) {
  position: absolute;
  top: 0;
  left: 6px;
  width: 66px !important;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-image: url("assets/promos/promo_2x1.png");
  @media screen and (max-width:768px){
    width: 44px!important;
    height: 40px;
    background-size: 44px 40px;
  }
}
:global(.vtex-flex-layout-0-x-flexCol--promo-2doal50) {
  position: absolute;
  top: 0;
  left: 6px;
  width: 66px !important;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-image: url("assets/promos/promo_2do_50.png");
  @media screen and (max-width:768px){
    width: 44px!important;
    height: 40px;
    background-size: 44px 40px;
  }
}
:global(.vtex-flex-layout-0-x-flexCol--promo-reciberegalo) {
  position: absolute;
  top: 150px;
  left: 0px;
  //width: 66px !important;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-image: url("assets/promos/promo_directa.png");
  @media screen and (max-width:768px){
    width: 44px!important;
    height: 40px;
    background-size: 44px 40px;
  }
}
:global(.vtex-flex-layout-0-x-flexCol--promo-combo) {
  position: absolute;
  top: 150px;
  //width: 170px !important;
  max-height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-image: url("assets/promos/promo_combo.png");
}

:global(.vtex-flex-layout-0-x-flexCol--infoCardCateg-home) {
  margin: 0 10px;
}

:global(.vtex-flex-layout-0-x-flexRow--InfoSliderRow) {
  background: #d33730;
}

:global(.vtex-flex-layout-0-x-flexRow--brandCarouselRow) {
  @media screen and (min-width: 1024px) {
    margin: 0 25%;
  }
}

:global(.vtex-flex-layout-0-x-flexRow--rowFooterMobile-1) {
  border-bottom: 1px solid #e9e9e9;
  border-top: 1px solid #e9e9e9;
  background: #fff;
}

:global(.vtex-flex-layout-0-x-flexRow--rowFooterMobile-general) {
  background: #fff;
}

:global(.vtex-flex-layout-0-x-flexRow--developedBy-row) {
  background: #fff;
  border-bottom: 1px solid #e9e9e9;
}

:global(.vtex-flex-layout-0-x-flexCol--socialIcons-mobile) {
  display: flex;
  flex-direction: row;
}

:global(.vtex-flex-layout-0-x-flexRowContent--categsCards-mobile) {
  display: flex;
}

:global(.vtex-flex-layout-0-x-flexCol--flexTitles) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

:global(.vtex-flex-layout-0-x-flexColChild--socialIcon-footer) {
  display: flex;
  justify-content: center;
}
