.container {
    :global(.vtex-button) {
        outline: none;

        &:hover{
            background-color: transparent;
        }
    }
}

.profileIcon {
    width: 38px;
    height: 28px;
}

.label {
    max-width: 80px;
    text-align: left;
    font-size: 12px;
    font-weight: 600;
    padding-left: 0;
}

.profile,
.label {
    text-transform: initial;

}


.button{
    padding-left: 0;
    text-align: left;
    position: relative;
    width: 100%;

    &:hover{
        &.button::before{
            background-position: 0 -24px;
        }
    }

    :global(.vtex-button__label){
        text-transform: initial;
    }
}

.accountOptions{

    :global(.mv4){
        margin: 0;
    }

    :global(.t-action--small){
        text-transform: initial;
    }

    :global(.vtex-button){
        width: 100%;

        &:hover{
            &:global(.vtex-button)::before{
                background-position: 0 -312px;
            }
        }

        &::before{
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            width: 24px;
            height: 24px;
            background-image: url(/arquivos//customerIcons-sebfa9bea5f.png);
            background-position: 0 -288px;
        }

        &:global(.hover-bg-action-secondary):focus, 
        &:global(.hover-bg-action-secondary):hover {
            background-color: initial;
        } 

    }

    :global(.vtex-button__label){
        justify-content: flex-start;
        padding: 0;

        
    }
}

.contentForm {
    min-width: 200px;
}

.formTitle{
    font-size: 14px;
}

.sendButton {
    :global(.vtex-button){
        color: #000;
    }
}

:global(.vtex-login-2-x-optionsSticky) {
    :global(.vtex-login-2-x-accessCodeOptionBtn) {
        display: none;
    }
}
