:global(.vtex-tab-layout-0-x-listContainer--tab-list-jobs) {
  :global(.vtex-tab-layout-0-x-listItemActive--tab-bolsa-trabajo) {
    background: #fff !important;
    :global(.vtex-button__label) {
      color: #000;
      border-bottom: 1px solid #fcbf0a !important;
    }
  }

  :global(.vtex-tab-layout-0-x-listItem--tab-bolsa-trabajo) {
    background: #fff !important;
  }
}

:global(.vtex-tab-layout-0-x-listContainer) {
  display: flex;
  justify-content: flex-start !important;
}
