.searchResultContainer{
    padding: 0;
    max-width: 100%;
    background-color: #fff;

    .filter__container--filterNavigator--title {
        display: none;
    }

    :global(.vtex-store-components-3-x-container) {
        max-width: 100%;
        padding: 0;
    }

    :global(.vtex-flex-layout-0-x-flexRow--banner-seo){
        position: relative;
    }

    :global(.vtex-flex-layout-0-x-flexRowContent--banner-seo ){
        :global(.vtex-rich-text-0-x-container--title-text-banner-seo){
            position: absolute;
            width: 100%;

            :global(.vtex-rich-text-0-x-heading--title-text-banner-seo){
                max-width: 680px;
                padding: 0 15px;
                font-size: 30px;
                line-height: 1.4;
            }
        }

        :global(.vtex-store-components-3-x-imageElement--image-banner-seo){
            width: 100%;
            display: block;
            object-fit: cover;
            height: 420px;
        }
    }

    

    :global(.vtex-flex-layout-0-x-flexRow--productCountCol){
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-left: 64px;

        .galleryTitle--layout{
            margin: 0;
            margin-right: 10px;
            padding: 0;
            font-size: 18px;
            color: #4d4d4d;
        }

        .totalProducts--layout{
            padding: 0;
            padding-top: 2px;
            color: #4d4d4d;
            font-size: 14px;
            font-weight: 700;

            &::before{
                content: "(";
            }
            &::after{
                content: ")";
            }

            .totalProductsMessage{
                color: inherit;
            }
        }
    }

    :global(.vtex-flex-layout-0-x-flexRow--productCountCol){
        display: flex;
        align-items: center;
    }

    :global(.vtex-flex-layout-0-x-flexRowContent--productCountCol){
        justify-content: flex-start;
    }

    :global(.vtex-store-components-3-x-discountInsideContainer){
        @media screen and (max-width: 1024px) {
            margin-right: 0;
        }
    }
    
}

:global(.vtex-breadcrumb-1-x-container){
    max-width: 1250px;
    padding: 10px 15px;
    font-size: 13px;
}

.totalProductsMessage {
    text-transform: lowercase;
}

:global(.vtex-search-result-3-x-searchResultContainer){
    :global(.vtex-flex-layout-0-x-flexRowContent--rowResult){
        max-width: 1250px;
        margin: 0 auto;
        margin-top: 30px;
        padding: 0 15px;
        padding-bottom: 0px;
        margin-bottom: -50px;
        //border-bottom: 1px solid #e3e4e6;
    }
}

.galleryItem{
    padding: 5px;

    @media screen and (min-width: 1024px){
        padding: 20px;
    }
}

.gallery {
    margin-top: 20px;
    margin-bottom: 50px;
}

@media screen and (min-width: 1024px){
    .gallery {
        margin-right: -60px;
        padding-left: 20px;
    }

}

.orderByDropdown{
    z-index: 100;
}

.categoryItemChildren--filterNavigator {
    color: #3f3f40;
    background: #f2f2f2;
    transform: translateX(-1px);
}

:global(.vtex-flex-layout-0-x-flexCol--orderByMobileCol){
    margin: 0 10px;
}

:global(.vtex-flex-layout-0-x-flexRow--category-info-bottom){
    max-width: 1250px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 36px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--category-info-bottom){
    background-color: #fff;
    padding: 15px 30px 50px;
    border-radius: 4px;
}

:global(.vtex-rich-text-0-x-paragraph--category-info-title){
    font-weight: 700;
}

:global(.vtex-store-components-3-x-imageElement--category-info-image){
    width: 100% !important;
    max-width: 300px;
    margin-right: auto;
}

:global(.vtex-rich-text-0-x-container--category-info-content){
    color: #333;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    
    :global(.vtex-rich-text-0-x-paragraph--category-info-content):first-child{
        margin-top: 0;
    }
}
:global(.vtex-search-result-3-x-orderByText) {
    color: #1D1D1B;
    font-weight: 500;
}
.orderByButton{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0px;
}
.filterPopupTitle {
    font-weight: 500;
    color: #1d1d1b;
}

:global(.vtex-search-result-3-x-orderByButton) {
    :global(.vtex-search-result-3-x-filterPopupArrowIcon){
        background: url(assets/icon_close.svg) no-repeat center center;
        font-size: 0;
        background-size: 25px;
        width: 50px;
        height: 15px;
        outline: 0!important;
        padding: 0px;
    }
    :global(.vtex-search-result-3-x-caretIcon) {
        display: none;
    }
}

.orderBy--layout {
    margin-right: 1.5rem;
    border: 1px solid #EDEDED;
    border-radius: 3px;
}

:global(.vtex-slider__base){
    :global(.vtex-slider__base-internal) {
        background-color: #000;
    }
}

:global(.vtex-slider__selector) {
    background-color: #000;
}

:global(.vtex-flex-layout-0-x-flexRowContent--productCountCol) {
    display: none;
}

:global(.vtex-flex-layout-0-x-flexColChild):first-child {
    height: auto !important;
}


:global(.vtex-wish-list-0-x-wishlistIconContainer) {
      
    :global(.vtex-button) {
        opacity: 1!important;
        border: none!important;
        display: block;
        position: absolute;
        z-index: 9;
        right: 0px;
        top: 5px;
        &:hover {
            background-color: transparent;
            outline: 0 !important;
        }
    }
    &:hover {
        background-color: transparent;
        outline: 0 !important;
    }
    :global(.vtex-wish-list-0-x-outline){
        &:hover {
          background: url(assets/icon_like_active.svg) no-repeat center center;
          font-size: 0;
          background-size: 25px;
          width: 50px;
          height: 25px;
          outline: 0!important;
        }
    }
}

:global(.vtex-store-components-3-x-logoContainer--search-image) {
    max-width: 100% !important;
}
:global(.vtex-store-components-3-x-logoImage--search-image) {
    max-width: 100% !important;
    width: 100% !important;
}

:global(.vtex-flex-layout-0-x-flexRow--most-new){
    :global(.vtex-flex-layout-0-x-flexRow--banner-search) {
        display: none;
    }
} 
:global(.vtex-store-components-3-x-searchBarIcon--main-search-bar--search) {
    background: url(assets/icon_search.svg) no-repeat center center;
    font-size: 0;
    background-size: 24px;
    width: 50px;
    height: 25px;
    outline: 0!important;
    margin-top: 4px !important;
}

:global(.vtex-store-components-3-x-searchIcon--main-search-bar) {
    display: none;
}

:global(.vtex-search-result-3-x-buttonShowMore) {
    :global(.vtex-button){
        &:hover{
            color: #000;
        }
    }   
}

:global(.vtex-search-result-3-x-buttonShowMore--layout) {
    margin-top: 0px;
    margin-bottom: 30px;
}