@import url("https://fonts.googleapis.com/css2?family=Futura:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* add transitions */
:global(.vtex-sticky-layout-0-x-container) .logoLink,
:global(.vtex-sticky-layout-0-x-container)
  :global(.vtex-minicart-2-x-openIconContainer),
:global(.vtex-sticky-layout-0-x-container)
  :global(.vtex-store-components-3-x-searchBarContainer) {
  transition: all 0.3s ease;
  display: block;
}

:global(.vtex-sticky-layout-0-x-wrapper--sticky-header--stuck) {
  :global(.vtex-sticky-layout-0-x-container) {
    :global(.vtex-store-components-3-x-searchBarContainer) {
      display: flex;
      align-items: center;
    }
  }
}

:global(.vtex-rich-text-0-x-paragraph--header-black) {
  color: #fff;
}

/* desktop/mobile main header padding and background transitions */
:global(.vtex-flex-layout-0-x-flexRowContent--main-header),
:global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) {
  will-change: padding, background, box-shadow;
}

:global(.vtex-rich-text-0-x-container--header-black) {
  background-color: #3D3D3D;
  font-size: 14px;
  height: 40px;
}

:global(.vtex-store-drawer-0-x-opened) {
  width: 100% !important;
}

:global(.vtex-store-drawer-0-x-closeIconButton) {
  margin-left: 87%;
}

:global(.vtex-minicart-2-x-openIconContainer) {
  padding: 0;
}

:global(.vtex-minicart-2-x-minicartWrapperContainer) {
  :global(.vtex-button) {
    background-color: transparent;
    outline: none;
  }

  :global(.vtex-button__label) {
    padding-right: 0;
    padding-left: 0;
  }
}

/* main header desktop has a bigger padding when not stuck */
:global(.vtex-flex-layout-0-x-flexRowContent--main-header) {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

/* add a box-shadow to desktop/mobile header when stuck */
:global(.vtex-sticky-layout-0-x-wrapper--stuck)
  :global(.vtex-flex-layout-0-x-flexRowContent--main-header),
:global(.vtex-sticky-layout-0-x-wrapper--stuck)
  :global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) {
  /* box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);*/
  box-shadow: none;
}

/*
 * remove the extra padding when stuck from the desktop header
 * we add a transition only when "stuck" for the "unstick" step seem faster
 */
:global(.vtex-sticky-layout-0-x-wrapper--stuck)
  :global(.vtex-flex-layout-0-x-flexRowContent--main-header) {
  transition: padding 0.3s ease;
  padding-top: 0;
  padding-bottom: 0;
}

/* if supported add some translucency to the desktop/mobile header background */
@supports (backdrop-filter: blur(5px)) {
  :global(.vtex-sticky-layout-0-x-wrapper--stuck)
    :global(.vtex-flex-layout-0-x-flexRowContent--main-header),
  :global(.vtex-sticky-layout-0-x-wrapper--stuck)
    :global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) {
    backdrop-filter: blur(8px);
  }

  /* header background when stuck and not hovered */
  :global(.vtex-sticky-layout-0-x-wrapper--stuck):not(:hover)
    :global(.vtex-flex-layout-0-x-flexRowContent--main-header),
  :global(.vtex-sticky-layout-0-x-wrapper--stuck):not(:hover)
    :global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) {
    background: #D22730;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

/* stick wrapper with the same color as the desktop/mobile header */
:global(.vtex-sticky-layout-0-x-wrapper--sticky-header) {
  background-color: #fff;
}

/* resize the logo for neat effect */
:global(.vtex-sticky-layout-0-x-wrapper--stuck) .logoLink {
  transform: scale(0.6);
  display: none;
}

:global(.vtex-sticky-layout-0-x-wrapper--sticky-header--stuck) {
  :global(.vtex-sticky-layout-0-x-container--sticky-header) {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  }

  :global(.vtex-input-prefix__group) {
    height: 37px;
    margin-bottom: 7px;
  }
}

:global(.vtex-store-components-3-x-logoImage) {
  transition: all 0.6s ease-in-out;
  width: 277px;
  max-width: 277px;
  @media only screen and (max-width: 1024px) {
    width: 130px;
    max-width: 130px;
    margin-top: 5px;
  }
}

:global(.vtex-flex-layout-0-x-flexRow--main-header) {
  padding-top: 5px !important;
  background-color: #D22730 !important;
  :global(.vtex-flex-layout-0-x-flexRowContent--main-header) {
    background-color: #D22730 !important;
  }
}
/*icon wishlist*/
:global(.vtex-store-components-3-x-logoLink--wish-icon) {
  // margin-top: 13px;
  // margin-left: 0px;
  // margin-right: 0px;
  @media screen and (min-width: 1024px) {
    margin-top: 8px;
    margin-right: 10px;
  }
}

:global(.vtex-store-components-3-x-logoImage--place-icon) {
  width: 24px !important;
}

:global(.vtex-store-components-3-x-logoContainer--wish-icon) {
  display: initial;
}

:global(.vtex-store-components-3-x-logoImage--wish-icon) {
  @media screen and (min-width: 320px) {
    width: 38px !important;
  }
  @media screen and (min-width: 1024px) {
    width: 33px !important;
  }
}

:global(.vtex-login-2-x-container) {
  :global(.vtex-button__label) {
    padding-right: 0px;
  }
}

:global(.vtex-store-components-3-x-searchBarContainer) {
  :global(.vtex-input-prefix__group) {
    height: auto !important;
    width: 500px !important;
  }
}

/*name profile*/
:global(.vtex-login-2-x-profile) {
  font-family: "Roboto", sans-serif;
  color: #1d1d1b;
}

:global(.vtex-styleguide-9-x-input):focus::placeholder {
  color: transparent;
}

:global(.vtex-flex-layout-0-x-flexRow--tip-bartop) {
  @media only screen and (max-width: 1024px) {
    :global(.vtex-store-components-3-x-container) {
      background-color: #000;
    }
  }
}

:global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) {
  background-color: #D22730 !important;
}

:global(.vtex-flex-layout-0-x-flexRow--searchbar-mobile) {
  background-color: #ffffff !important;
  box-shadow: 0px 0px 6px #00000029;
  margin: 10px;
  padding: 5px 0 !important;
  position: absolute;
  width: 95%;
}
/*this class is created when is active scroll*/
:global(.vtex-sticky-layout-0-x-wrapper--custom-sticky-header--mobile--stuck) {
  :global(.vtex-sticky-layout-0-x-container--custom-sticky-header--mobile) {
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  }
}

:global(.vtex-menu-2-x-menuContainer--sellos) {
  margin-top: 20px;
  width: 100%;
  display: block;
  @media only screen and (max-width: 640px) {
    :global(.vtex-flex-layout-0-x-flexRow--selloconfianza) {
      width: 50%;
      float: left;
    }
  }
  @media only screen and (min-width: 640px) {
    :global(.vtex-flex-layout-0-x-flexRow--selloconfianza) {
      width: 100%;
      float: left;
    }
  }
}

:global(.vtex-store-drawer-0-x-menuIcon) {
  display: none;
}
:global(.vtex-store-drawer-0-x-openIconContainer) {
  background: url(assets/Hamburguesa.png) no-repeat center center;
  font-size: 0;
  background-size: 25px;
  width: 50px;
  height: 25px;
  outline: 0 !important;
}

:global(.vtex-sticky-layout-0-x-wrapper--custom-sticky-header--mobile) {
  :global(.vtex-store-components-3-x-logoLink--wish-icon) {
    @media screen and (min-width: 640px) {
      margin-top: 5px;
    }
    margin-top: 0;
    margin-left: 10px;
    margin-right: 0px;
  }
}

:global(.vtex-sticky-layout-0-x-wrapper--custom-sticky-header--mobile--stuck) {
  :global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) {
    background: #D22730 !important;
    padding-top: 10px !important;
    padding-bottom: 5px !important;
  }
}

:global(.vtex-flex-layout-0-x-flexRowContent--shipp-free) {
  @media only screen and (max-width: 640px) {
    display: inline-flex;
    :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
      width: 10% !important;
    }
  }
}

:global(.vtex-login-2-x-oauthLabel) {
  color: #010202;
}

/*MENU*/
:global(.vtex-menu-2-x-styledLinkContent--menu-categorias) {
  color: #1d1d1b;
  font-size: 15px;
}

:global(.vtex-menu-2-x-submenuContainer) {
  position: absolute !important;
}

:global(.vtex-store-components-3-x-imageElement--image-submenu) {
  height: 264px;
  width: 264px;
}

:global(.vtex-menu-2-x-submenuContainer) {
  :global(.vtex-menu-2-x-submenuWrapper--isOpen) {
    left: 50% !important;
    top: 0px !important;
    transform: translate(-50%, -10px);
    -webkit-transform: translate(-14%, 1%);
    width: 1450px;
    padding-top: 10px;
  }
}
:global(.vtex-menu-2-x-submenuWrapper) {
  :global(.vtex-flex-layout-0-x-flexRow) {
    width: 1100px;
  }
}

:global(.vtex-menu-2-x-menuContainerNav--menu-categorias) {
  align-items: start !important;
  width: 40%;
}

:global(.vtex-rich-text-0-x-wrapper--submenu-all) {
  position: absolute;
  top: 0px;
  //left: 50px;
  @media only screen and (max-width: 1024px) {
    position: relative;
    top: 0px;
    left: 18px;
  }
}

:global(.vtex-menu-2-x-submenuAccordion) {
  @media only screen and (max-width: 1024px) {
    :global(.vtex-flex-layout-0-x-flexRow) {
      width: 100%;
    }
    :global(.vtex-flex-layout-0-x-flexColChild) {
      text-align: center;
    }
    :global(.vtex-rich-text-0-x-container--submenu-all) {
      border-bottom: 1px solid rgba(51, 51, 51, 0.1);
    }
  }
}

:global(.vtex-rich-text-0-x-paragraph--submenu-all) {
  align-items: center;
  display: flex;
  font-size: 14px;

  @media only screen and (max-width: 1024px) {
    font-weight: 600 !important;
  }
}

:global(.vtex-rich-text-0-x-link--submenu-all) {
  text-decoration: none;
  font-size: 14px;
  color: #1d1d1b;
  margin-right: 12px;
  @media only screen and (max-width: 1024px) {
    letter-spacing: 1px;
  }
}

:global(.vtex-menu-2-x-styledLink--categs) {
  position: relative;
}


:global(.vtex-menu-2-x-styledLinkContent--title-mobile) {
  color: #1d1d1b;
  font-size: 16px !important;
  font-weight: 600 !important;
}
:global(.vtex-menu-2-x-styledLinkContent--categs-mobile) {
  font-size: 14px !important;
  color: #1d1d1b !important;
}
:global(.vtex-menu-2-x-styledLinkContent--categs-mobile-licores) {
  font-size: 14px !important;
  color: #1d1d1b !important;
  margin-left: 24px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background: url(assets/licor.svg);
    width: 24px;
    height: 24px;
    left: -28px;
    bottom: 4px;
  }
}
:global(.vtex-menu-2-x-styledLinkContent--categs-mobile-vinos) {
  font-size: 14px !important;
  color: #1d1d1b !important;
  margin-left: 24px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background: url(assets/vino.svg);
    width: 24px;
    height: 24px;
    left: -28px;
    bottom: 4px;
  }
}
:global(.vtex-menu-2-x-styledLinkContent--categs-mobile-ryb) {
  font-size: 14px !important;
  color: #1d1d1b !important;
  margin-left: 24px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background: url(assets/bebidas.svg);
    width: 24px;
    height: 24px;
    left: -28px;
    bottom: 4px;
  }
}
:global(.vtex-menu-2-x-styledLinkContent--categs-mobile-promociones) {
  font-size: 14px !important;
  color: #1d1d1b !important;
  margin-left: 24px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background: url(assets/promociones.svg);
    width: 24px;
    height: 24px;
    left: -28px;
    bottom: 4px;
  }
}
:global(.vtex-menu-2-x-styledLinkContent--mi-cuenta-menu) {
  font-size: 16px !important;
  color: #D22730 !important;
  text-decoration: underline;
  font-weight: 500 !important;

}
:global(.vtex-menu-2-x-styledLinkContent--menu-item-sucursales-mobile) {
  font-size: 14px !important;
  color: #1d1d1b !important;
}
:global(.vtex-menu-2-x-menuItem--menu-item-signin-mobile){
  border-top: 1px solid #e5e5e5;
  margin-top: 12px;
}
:global(.vtex-menu-2-x-styledLinkContent--menu-item-signin-mobile) {
  color: #FD9D31 !important;
  font-size: 16px !important;
  text-decoration: underline;
  font-weight: 500 !important;
  margin-right: 12px;
  margin-left: 24px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background: url(assets/account.svg);
    width: 24px;
    height: 24px;
    left: -28px;
    bottom: 4px;
  }
}

:global(.vtex-menu-2-x-styledLinkContent--menu-categorias) {
  color: #1d1d1b !important;
  font-size: 14px !important;
}

:global(.vtex-menu-2-x-submenuAccordion) {
  :global(.vtex-store-components-3-x-imageElement--image-submenu) {
    width: auto;
    padding-right: 11px !important;
    border-radius: 4px;
  }
}

:global(.vtex-menu-2-x-accordionIcon--categs-mobile--isClosed) {
  font-weight: bolder;
  background: url(/arquivos/icon_breadcrumb.png) no-repeat center center;
  font-size: 0;
  background-size: 25px;
  width: 15px;
  height: 25px;
}

:global(.vtex-alert__close-icon) {
  color: #3a372f;
}

:global(.vtex-login-2-x-button) {
  color: #1d1d1b;
}

:global(.vtex-login-2-x-accountOptions) {
  :global(.vtex-button) {
    color: #1d1d1b;
  }
}

:global(.vtex-menu-2-x-menuItem--menu-item-categorias-mobile) {
  position: absolute;
}

:global(.vtex-menu-2-x-styledLinkContainer--menu-item-categorias-mobile) {
  border: none !important;
}

:global(.vtex-menu-2-x-styledLinkContent--menu-item-categorias-mobile) {
  background-color: #fff;
  font-size: 14px !important;
  font-weight: 600 !important;
  width: 284px;
  &::after {
    color: #fcbf0a;
    content: "___";
    position: absolute;
    bottom: 10px;
    left: 95%;
    font-weight: bolder;
    background: url(/arquivos/icon_go.png) no-repeat center center;
    font-size: 0;
    background-size: 25px;
    width: 50px;
    height: 25px;
    outline: 0 !important;
  }
}
:global(.vtex-menu-2-x-menuContainer--menu-categorias) {
  position: relative;
}

:global(.vtex-rich-text-0-x-strong--textTipbar) {
  color: #413c2e !important;
}

:global(.vtex-slider-layout-0-x-sliderLayoutContainer) {
  :global(.vtex-store-components-3-x-imageElement) {
    @media only screen and (max-width: 320px) {
      max-height: 400px !important;
    } 
    @media only screen and (max-width: 1024px) {
      max-height: 900px !important;
    }
  }
}

:global(.vtex-menu-2-x-submenu--subcategory-desktop) {
  :global(.vtex-menu-2-x-styledLinkContainer) {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
:global(.vtex-menu-2-x-submenu--subcategory-desktop) {
  :global(.vtex-menu-2-x-menuItem) {
    width: 241px;
  }
}

:global(.vtex-flex-layout-0-x-flexCol--logoBrand) {
  text-align: center;
}

:global(.vtex-menu-2-x-styledLinkContainer--ofertas) {
  background-color: #fff;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 17px;
  padding-right: 17px;
  margin-top: 8px;
}

:global(.vtex-menu-2-x-styledLinkContent--ofertas) {
  color: #f63636 !important;
}

:global(.vtex-store-components-3-x-logoLink--place-icon) {
  @media screen and (min-width: 640px) {
    margin-top: 11px;
  }
  margin-top: 0;
}

:global(.vtex-minicart-2-x-minicartWrapperContainer) {
  margin-top: 8px;
}

:global(.vtex-menu-2-x-submenuWrapper--isOpen) {
  background-color: #fff !important;
}

:global(.vtex-menu-2-x-styledLinkContent) {
  color: #202022;
}

:global(.vtex-menu-2-x-styledLinkContent--title-menu-sub-cat) {
  color: #3d3d3d;
  letter-spacing: 1.4px;
  border-bottom: 1px solid #cccccc !important;
  margin-top: 35px;
  padding-bottom: 10px;
  text-transform: none !important;
  font-size: 16px;
  font-weight: 600 !important;
  white-space: normal;
}

:global(.vtex-menu-2-x-submenuContainer) {
  left: 20%;
  transform: translateX(-20%);
}

:global(.vtex-store-components-3-x-logoImage--social-icon) {
  width: 30px;
  float: left;
}

:global(.vtex-store-components-3-x-logoContainer--social-icon) {
  padding: 0px;
}

:global(.vtex-minicart-2-x-popupStyles) {
  padding: 10px;
}

:global(.vtex-store-components-3-x-logoContainer):global(.vtex-store-components-3-x-sizeMobile) {
  padding: 0;
}

:global(.vtex-store-components-3-x-logoImage--logoBrandHeader) {
  height: 50px !important;
  width: auto !important;
}

:global(.vtex-menu-2-x-styledLinkContainer--categs-header) {
  :global(.vtex-menu-2-x-styledLinkContent--categs-header) {
    color: #FFF !important;
    text-transform: initial !important;
    font-size: 14px !important;
    font-weight: bold !important;
  }
}

:global(.vtex-store-components-3-x-logoLink--logoBrandHeader-mobile) {
  :global(.vtex-store-components-3-x-logoImage--logoBrandHeader-mobile) {
    width: 45px;
  }
}

:global(.vtex-flex-layout-0-x-flexCol--iconsHeaderCol-mobile) {
  display: flex;
  flex-direction: row;
  
  @media screen and (min-width: 320px) {
    margin-left:80%;
  }
  @media screen and (min-width: 375px) {
    margin-left:115%;
  }
  @media screen and (min-width: 476px) {
    margin-left:150%;
  }
}

:global(.vtex-store-components-3-x-logoImage--drawerMenu-mobile) {
  margin-top: -3rem;
  width: 70px !important;
}
