:global(.vtex-store-components-3-x-newsletter--footer-newsletter) {
  border-top: 1px solid #f2f2f2;
  :global(.vtex-styleguide-9-x-input)::placeholder {
    color: #99999E !important;
    text-align: left;
    font-size: 14px !important;
    font-weight: 400 !important;
  }
}

:global(.vtex-store-components-3-x-newsletter){
  :global(.vtex-store-components-3-x-form){
    padding: 24px 40px !important;
    :global(.vtex-button) {
      border-radius: 0;
      background-color:  #F7F7F7;
      color: #000;
      font-weight: 500;
      height: 48px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
} 

.footerLayout {
  background-color: #F0F0F0;
  color: white;
  margin: 0 !important;
  :global(.vtex-store-components-3-x-container){
    margin: 0 !important;
    :global(.vtex-rich-text-0-x-paragraph--footer--title),
    .socialNetworksTitle{
      margin: 0;
      text-transform: uppercase;
      color: white;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .socialNetworkLink{
      width: 24px;
      height: 24px;
      transition: transform .3s ease-in-out;

      &--footer-social-networks--facebook{
        background-image: url(/arquivos/social-f7d996ee.png);
        background-position: -24px 0;
      }

      &--footer-social-networks--twitter{
        background-image: url(/arquivos/social-footer-icons.png);
        background-position: -48px -67.5px;
      }

      &--footer-social-networks--youtube{
        background-image: url(/arquivos/social-footer-icons.png);
        background-position: -48px -24px;
      }

      &--footer-social-networks--instagram{
        background-image: url(/arquivos/social-footer-icons.png);
        background-position: 0 -67.5px;
      }

      &:hover{
        transform: scale(1.25);
      }
    }

    .socialNetworkImage{
      width: 24px;
      height: 24px;
      transition: transform .3s ease-in-out;
      display: none;

      &:hover{
        transform: scale(1.2);
      }
    }

    :global(.vtex-rich-text-0-x-paragraph--footer-contact-text){
      margin: 0;
    }

    :global(.vtex-rich-text-0-x-container--footer-contact-text){
      font-weight: 300;

      :global(.vtex-rich-text-0-x-link--footer-contact-text){
        color: inherit;
        text-decoration: none;
        margin-left: 10px;
      }
    }

    :global(.vtex-menu-2-x-styledLink) {
      font-size: 14px;
      font-weight: normal;
    }
  }

  :global(.vtex-store-components-3-x-logoLink){
    text-align: center;
  }
}

:global(.vtex-flex-layout-0-x-flexRow--footer-one--mobile){
  :global(.vtex-flex-layout-0-x-flexCol){
    margin-bottom: 20px;
  }

  .socialNetworksContainer,
  .acceptedPaymentMethodContainer,
  :global(.vtex-rich-text-0-x-container){
    justify-content: center;
  }

  .socialNetworksTitle{
    text-align: center;
  }

  :global(.vtex-flex-layout-0-x-flexCol--footer--info-vtex){
    justify-content: center;
    margin-top: 30px;
  }  
}


:global(.vtex-flex-layout-0-x-flexRow--footer-one--desktop){

  :global(.vtex-flex-layout-0-x-flexCol--footer-payments) {
    width: auto;
  }

  .socialNetworkWrapper{
    width: auto;
    margin-left: auto;
  }
}

:global(.vtex-flex-layout-0-x-flexCol--footer--info-vtex){
  flex-direction: row;
  justify-content: space-around;

  :global(.vtex-store-components-3-x-imageElement--footer--info-vtex-corebiz){
    width: 60px;
  }

  :global(.vtex-rich-text-0-x-paragraph--footer--info-vtex-text){
    margin: 0;
    padding: 3px 10px;
    font-size: 8px;
    font-family: "Roboto",sans-serif;
    font-weight: bold;
    color: #c4c4c4;
    text-transform: uppercase;
  }

  :global(.vtex-store-components-3-x-imageElement--footer--info-vtex-logo){
    width: 40px;
  }
}

:global(.vtex-flex-layout-0-x-flexRowContent--social) {
  @media only screen and (max-width: 640px) {
    display: flex;
  }
  margin-top: 15px;
  width: 150px;
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    justify-content: left;
  }
}

:global(.vtex-rich-text-0-x-paragraph--footer-menu-titles) {
  color: white !important;
  margin: 0;
}
:global(.vtex-menu-2-x-styledLinkContent) {
  color: white;
  font-family: "Roboto",sans-serif;
}
:global(.vtex-flex-layout-0-x-flexRowContent--selloconfianza) {
  margin-top: 20px;
}
:global(.vtex-rich-text-0-x-paragraph--txt-start){
  color: white;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 4px;
}
:global(.vtex-rich-text-0-x-paragraph--txt-end) {
  color: #fff;
  font-size: 11px;
  font-family: "Roboto",sans-serif;
  font-weight: 400 !important;
  margin-top: 8px;
  margin-bottom: 8px;
  :global(.vtex-rich-text-0-x-link--txt-end) {
    color: #fff;
    text-decoration: none;
  }
}
:global(.vtex-store-footer-2-x-footerLayout) {
  margin: 15px 0;
  margin-bottom: 0px;
}
:global(.vtex-flex-layout-0-x-flexRow--row-end) {
  background-color: #F0F0F0;
  margin-top: 20px;
}

:global(.vtex-slider-layout-0-x-sliderLayoutContainer--carousel-brand-2) {
  @media only screen and (min-width: 640px) {
    width: 1400px;
    margin: 0 auto;
  }
}
:global(.vtex-store-components-3-x-imageElement--carousel-brand-2) {
  max-width: 75px;
  margin: auto;
  cursor: pointer;
}
:global(.vtex-flex-layout-0-x-flexRowContent--pay-methods) {
  margin-bottom: 35px;
  margin-top: 40px;
}

:global(.vtex-store-footer-2-x-footerLayout){ 
  @media only screen and (max-width: 1024px) {
    :global(.vtex-store-components-3-x-logoImage) {
      display: none;
    }
  }
}

:global(.vtex-flex-layout-0-x-flexRow--pay-methods) {
  @media only screen and (max-width: 640px) {
    :global(.vtex-render-runtime-8-x-lazyload){
      max-width: 100% !important;
      margin-top: 40px;
    }
  }
}

:global(.vtex-flex-layout-0-x-flexRowContent--row-corebiz) {
  @media only screen and (max-width: 640px) {
    :global(.vtex-render-runtime-8-x-lazyload){
      max-width: 20% !important;
    }
  }
}

:global(.vtex-flex-layout-0-x-flexRowContent--social){
  @media only screen and (max-width: 640px) {
    :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
      width: 60px !important;
    }
  }
} 

:global(.vtex-store-footer-2-x-footerLayout) {
  :global(.vtex-menu-2-x-styledLinkContent){
    color: #fff;
  }
}

:global(.vtex-store-components-3-x-logoImage--logoBrandFooter) {
  height: 100px !important;
  width: auto !important;
}

:global(.vtex-flex-layout-0-x-flexColChild--socialIcons-mobile) {
  margin: 0 5px;
}

:global(.vtex-flex-layout-0-x-flexCol--logoAboutUs) {
  display: flex;
  flex-direction: row;
  margin: 0 35px;

  :global(.vtex-flex-layout-0-x-flexColChild--logoAboutUs) {
    display: flex;
  }
}

:global(.vtex-rich-text-0-x-paragraph--txt-aboutUs) {
  color: #4A4A4A;
  font-size: 18px;

  :global(.vtex-rich-text-0-x-link--txt-aboutUs) {
    color: #4A4A4A !important;
    text-decoration: none !important;
  }
}

:global(.vtex-rich-text-0-x-paragraph--txt-aboutUs-draw) {
  color: #4A4A4A;
  font-size: 20px !important;
  padding: 10px 20px;
  margin-top: 40px;
  :global(.vtex-rich-text-0-x-link--txt-aboutUs-draw) {
    color: #4A4A4A !important;
    text-decoration: none !important;
  }
}

:global(.vtex-rich-text-0-x-paragraph--txt-copy-draw) {
  color: #4A4A4A;
  font-size: 12px;
  padding: 10px 20px;
}

:global(.vtex-flex-layout-0-x-flexRow--colMainFooter) {
  display: flex !important;
  justify-content: center !important;
}

:global(.vtex-flex-layout-0-x-flexRow--colSecondFooter) {
  background: #323232;
  display: flex !important;
  justify-content: center !important;
}

.socialIcon-footer {
  display: flex;
  justify-content: center;
}

:global(.vtex-store-components-3-x-imageElement--pay-size) {
  margin: 0 10px;
}

:global(.vtex-flex-layout-0-x-flexRow--rowFooterMobile-desk) {
  display: flex;
}

:global(.vtex-store-footer-2-x-footerLayout--full-footer) {
  position: relative;
}

:global(.vtex-rich-text-0-x-image--wapp-icon) {
  position: absolute;
  right: 15px;
  bottom: 30px;
  width: 60px;
}

:global(.vtex-rich-text-0-x-container--wapp-icon) {
  @media screen and (min-width: 320px) {
    background: #fff;
  }
  @media screen and (min-width: 1024px) {
    background: initial;
  }
}
