@font-face {
    font-family: 'Futura';
    font-weight: regular;
    src: url(assets/fonts/FuturaStd-Book.otf) format("opentype");
}

@font-face {
    font-family: 'Futura';
    font-weight: bold;
    src: url(assets/fonts/FuturaStd-Bold.otf) format("opentype");
}

@font-face {
    font-family: 'Futura';
    font-weight: lighter;
    src: url(assets/fonts/FuturaStd-Light.otf) format("opentype");
}

